<div class="jumbotron">
  <h1>Find A Place To Stay</h1><br>
  <div class="container-fluid">
      <form class="form-inline">
        <div class ="form-group" id="searchTextField2">
          <input id="autocomplete2" placeholder="Enter a place" type="text" class="form-control" />
        </div>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" placeholder="Check In" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" placeholder="Check Out" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </form>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MMM DD'
            });
            $('#datetimepicker2').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                  format: 'MMM DD'
            });
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
        });

        function initialize() {
          var input = document.getElementById('autocomplete2');
          var autocomplete = new google.maps.places.Autocomplete(input);
        };

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </div>
</div>
<br>
<h2>Featured Homes</h2><br>
<h2>Suggested Homes For You</h2><br>
